.project
*/.project

.settings
*/.settings

.classpath
*/.classpath

/target/
*/target/

*/.apt_generated/
*/.factorypath

/logs/
*/logs/
**/*.log

.idea/
*/.springBeans
*.iml
*.gz
/flatfilePath_IS_UNDEFINED/